extends layout

block content
  div(class='list-page')
    h1 #{category.name}
    h3 #{category.description}
    div(class='items-in-category')
      h3 Items
      
      dl
        each item in category_items
          dt 
            a(href=item.url) #{item.name}
        else
          p This category has no items
    hr
    div(class='detail-links')
      p
        a(href=category.url+'/delete') Delete Category
      p
        a(href=category.url+'/update') Update Category
