extends layout

block content
  div(class='list-page')
    h1 #{category.name}
    
    if category_items.length
    
      p(class='del-p') Delete the following items before attempting to delete this category:
    
      div(class='items-in-category')
        h3 Items
        
        dl
          each item in category_items
            dt 
              a(href=item.url) #{item.name}

    else
      p(class='del-p') Do you really want to delete this category?
      
      form(method='POST' action='')
        div.form-group
          input#categoryid.form-control(type='hidden',name='categoryid', required='true', value=category._id )

        button.btn.btn-primary(type='submit') Delete
        
      - url = '/inventory/category/' + category._id
      form(method='GET' action=url)
        div.form-group
        
        button.btn.btn-primary(type='submit') Abort
