extends layout

block content
  div(class='list-page')
    div(class='item-list')
      h1 #{item.name}
      if item.image
        div(class='image-container')
          img(src='/images/' + item.image) 
      div(class='items')    
        p #[strong Category:] 
          a(href=item.category.url) #{item.category.name}
        p #[strong Description:] #{item.description}
        p #[strong Price in Euro/kg:] #{item.price}
        p #[strong Number in stock:] #{item.numberInStock}
      hr
      div(class='detail-links')
        p
          a(href=item.url+'/delete') Delete Item
        p
          a(href=item.url+'/update') Update Item
  
